@model IEnumerable<Ketabkhana.Models.VM.BookModel>

@{
    ViewBag.Title = "MyBooks";
}

<h2>My Book List</h2>

<a href="/Shop/AddBook" class="btn btn-success">Add New Book</a>

<table id="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Edition</th>
        <th>Price (Tk.)</th>
        <th> Quantity</th>
        <th>Shop ID</th>
        <th>Thumbnail</th>
        <th>Action</th>
    </tr>

    @foreach (var b in Model)
    {
        <tr>
            <td>@b.id</td>
            <td>@b.bookTitle</td>
            <td>@b.author</td>
            <td>@b.publisher</td>
            <td>@b.edition</td>
            <td>@b.price</td>
            <td>@b.quantity</td>
            <td>@b.shopId</td>
            <td>
                <img src="~/images/@b.thumbnail" alt="" height=180 width=150>

            </td>
            <td>
                <a href="/Shop/EditBook/@b.id" class="btn btn-success">Edit</a>
                <a href="/Shop/DeleteBook/@b.id" class="btn btn-danger">Delete</a>
            </td>

        </tr>
    }

</table>