@model Ketabkhana.Models.EF.Employee
@{
    ViewBag.Title = "UpdateEmployee";
}

<h2>Update Employee</h2>

<form action="/Admin/UpdateEmployee" method="post">

    ID: <input type="number" class="form-control" value=@Model.id name="id" readonly />

    First Name: <input type="text" class="form-control" value=@Model.firstName name="firstName" />
    @Html.ValidationMessageFor(m => m.firstName, "", new { @class = "text-danger" })<br>

    Last Name: <input type="text" class="form-control" value=@Model.lastName name="lastName" />
    @Html.ValidationMessageFor(m => m.lastName, "", new { @class = "text-danger" })<br>

    Gender:
    <input type="text" class="form-control" value=@Model.gender name="gender" />
    @Html.ValidationMessageFor(m => m.gender, "", new { @class = "text-danger" })<br>

    Dob: <input type="text" class="form-control" value=@Model.dob name="dob" />
    @Html.ValidationMessageFor(m => m.dob, "", new { @class = "text-danger" })<br>

    Email: <input type="email" class="form-control" value=@Model.email name="email" /><br>
    @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })

    Username: <input type="text" class="form-control" value=@Model.username name="username" readonly />

    Password: <input type="password" class="form-control" value=@Model.password name="password" />
    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })<br>

    <input type="submit" value="Edit" class="btn btn-success">

</form>