@model IEnumerable<Ketabkhana.Models.VM.BookModel>
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<table id="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Edition</th>
        <th>Price</th>
        <th>Shop ID</th>
        <th>Quantity</th>
        <th>Thumbnail</th>
        <th>Action</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.id</td>
            <td>@b.bookTitle</td>
            <td>@b.author</td>
            <td>@b.publisher</td>
            <td>@b.edition</td>
            <td>@b.price</td>
            <td>@b.shopId</td>
            <td>@b.quantity</td>
            <td> <img src="~/images/@b.thumbnail" alt="" height=180 width=150> </td>
            <td><a href="/Customer/AddtoCart/@b.id" class="btn btn-success">Add To Cart</a></td>
        </tr>
    }
</table>
